@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
textarea,
input {
  outline: none;
}

html,
body {
  height: var(--vh);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'GangwonEdu_OTFBoldA';
  /* @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    min-height: -webkit-fill-available;
  } */
}

.main_section {
  position: relative;
  padding: 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  /* @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  } */
}

.header-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 1rem;
}

.header-container h3 {
  font-size: 1rem;
  color: #ff6666;
}

.header_main-msg {
  font-size: 1.5rem;
}

.header_sub-msg {
  font-size: 1rem;
  color: #666666;
}
